.playlistSection {
    width: 100%;
    text-align: center;
    margin: 20px;
}

.playlistsContainer {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    gap: 16px;
    justify-content: flex-start;
    text-align: left;
    max-width: 1100px;
    margin: 0 auto;
}

.playlist {
    display: flex;
    align-items: center;
    color: #F0F0F0;
    border: 1px solid rgb(243, 174, 242);
    border-radius: 8px;
    overflow: hidden;
    flex: 1 1 calc(50% - 16px);
    box-sizing: border-box;
}

.playlistsContainer > .playlist:nth-child(odd) {
    flex-grow: 0;
}

.playlist:hover {
    opacity: 0.7;
    cursor: pointer;
}

.playlistArt {
    display: flex;
    flex-wrap: wrap;
    width: 100px;
    height: 100px;
    min-width: 100px;
}

.playlistArt img {
    width: 50%;
    height: 50%;
}

.playlistMetadata {
    display: flex;
    flex-direction: column;
    padding: 16px;
}

.playlistMetadata p {
    margin: 2px 0;
}

.playlistMetadata p:first-child {
    font-weight: bold;
}

@media (max-width: 800px) {
    .playlist {
        flex: 1 1 100%;
    }
}
